@use "./base.scss";

@font-face {
  font-family: "VGA8x16";
  src: url("/static/WebPlus_IBM_VGA_8x16.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  text-rendering: crispEdges;
  image-rendering: pixelated;
  scrollbar-gutter: stable;
}

body {
  font-family: "VGA8x16", monospace;
  font-size: 16px;
  line-height: 16px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  text-rendering: crispEdges;
  image-rendering: pixelated;
}

// .page > #quartz-body {
//   display: grid;
//   grid-template-columns: 320px 704px 320px;
//   gap: 0;
//   column-gap: 0;
//   row-gap: 0;
//   justify-content: center;
//   transform: translateZ(0);
// }

// .center {
//   width: 704px;
//   max-width: 704px;
//   padding: 16px;
//   box-sizing: border-box;
// }

.page > #quartz-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateZ(0);
}

.center {
  width: 100%; 
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

@media (min-width: 1344px) {
  .page > #quartz-body {
    display: grid;
    grid-template-columns: 320px 704px 320px;
    justify-content: center;
  }

  .center {
    width: 704px;
  }
}

h1,
h2,
.page-title a,
header h1 a,
.header h1,
.search-button,
#search-container input {
  font-family: "VGA8x16", monospace !important;
  line-height: 16px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}

h1,
.page-title a,
header h1 a,
.header h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.page-title a,
header h1 a,
.header h1 {
  text-decoration: none;
}

.search-container input,
.search-button p,
.search-layout .result-card h3,
.search-layout .preview-container {
  font-family: "VGA8x16", monospace !important;
  font-size: 16px !important;
  -webkit-font-smoothing: none;
  text-rendering: crispEdges;
}

.search-container input::placeholder {
  font-family: "VGA8x16", monospace !important;
  color: var(--gray);
}

.explorer, 
.graph, 
.toc, 
#toc-content,
.backlinks,
button#toc-button {
  font-family: "VGA8x16", monospace !important;
  -webkit-font-smoothing: none;
  text-rendering: crispEdges;
}

.explorer li a, 
.toc li a, 
.graph-view-container text {
  font-family: "VGA8x16", monospace !important;
}

.graph-view-container text {
  font-size: 14px;
}

.graph h3,
.toc h3,
.backlinks h3,
#toc-button span,
.explorer h3 {
  font-family: "VGA8x16", monospace !important;
  font-size: 16px !important;
  text-transform: none;
}

.graph-view-container svg text {
  font-family: "VGA8x16", monospace !important;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.sidebar .desktop-only h3,
.sidebar .desktop-only span {
  font-family: "VGA8x16", monospace !important;
}